*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #edeaff;
}
button img{
    height: 30px;
    width: 30px;
}
.stopwatch{
    width:90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://png.pngtree.com/thumb_back/fh260/background/20230625/pngtree-d-render-of-stopwatch-and-timer-icon-with-clouds-on-blue-image_3678155.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
h1{
    font-family: "Courier Prime", monospace;
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 64px;
    font-weight: 300;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons img{
    margin:0px 10px;
    cursor: pointer;
}
.buttons button{
    margin: 0px 30px;
}